@import '../../scss/variable.scss';

.header {
    background-color: $primary-color;
    clear: both;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    margin-bottom: 10px;
  }