<form>
    <h1>Login Form</h1>
    <div>
      <label ccHighlight>
        User Name :
      </label>
      <select [(ngModel)]="loginForm.userName" name="userName" >
        <option *ngFor="let user of userList" value="{{user.userName}}">{{user.userName}}</option>  
      </select>
    </div>
    <div>
      <label>
        Password :
      </label>
      <input [(ngModel)]="loginForm.password"  type="text" name="password" />
    </div>
    <div>
      <button (click)="login()">Login</button>
    </div>

  </form>